ENV_FILE_NAME=LOCAL
VERCEL_URL=localhost:4200
PROVIDER_POSTGRES_ANALYTICS="postgres://default:this0is0a0secret0password@localhost:5432/verceldb"
PROVIDER_POSTGRES_CONTENT="postgres://default:this0is0a0secret0password@localhost:5434/verceldb"
PROVIDER_POSTGRES_USER_PROGRESS="postgres://default:this0is0a0secret0password@localhost:5433/verceldb"
PROVIDER_GITHUB_TOKEN=<Generate Github token>
PROVIDER_GITHUB_PROJECT_UPSTREAM_OWNER=PupoSDC
PROVIDER_GITHUB_PROJECT_UPSTREAM_REPO=chair-flight
PROVIDER_GITHUB_PROJECT_ORIGIN_OWNER=<The owner of the repository, same as upstream if not forked. Defaults to PROVIDER_GITHUB_PROJECT_UPSTREAM_OWNER>
PROVIDER_GITHUB_PROJECT_ORIGIN_REPO=<The name of the repository, same as upstream if not forked. Defaults to PROVIDER_GITHUB_PROJECT_UPSTREAM_REPO>
PROVIDER_UPLOADTHING_HASH_SALT="salt"
PROVIDER_UPLOADTHING_SECRET=DISABLE