dist
coverage
tmp
.dist
.next
.expo
.gitignore
.editorconfig
.prettierignore

# files
pnpm-lock.yaml

# Content produced by build steps
apps/next-app/public/storybook
apps/next-app/public/content

# files that look prettier without prettier
tsconfig.base.json