dist
coverage
tmp
pnpm-lock.yaml
.next
.expo
.gitignore
.editorconfig
.prettierignore

# Content produced by build steps
apps/next-app/public/storybook
apps/next-app/public/content

# markdown files that otherwise get butchered
apps/next-app/pages/articles/blog/003-new-737-question-bank.page.mdx